In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
app_type = application_df.APPLICATION_TYPE.value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_type[app_type < 100].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [6]:
class_type = application_df.CLASSIFICATION.value_counts()
class_type.head(30)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
Name: CLASSIFICATION, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_type[class_type < 100].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [8]:
app_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
app_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[app_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(app_cat)
encode_df.head()

C:\Users\nbkwiat\Anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
application_df = application_df.merge(encode_df, left_index=True,right_index=True).drop(columns = app_cat)

application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=30)

C:\Users\nbkwiat\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
len(X_train[0])

50

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 200
hidden_nodes_layer2 = 250
hidden_nodes_layer3 = 150
hidden_nodes_layer4 = 150

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 200)               10200

 dense_15 (Dense)            (None, 250)               50250

 dense_16 (Dense)            (None, 150)               37650

 dense_17 (Dense)            (None, 150)               22650

 dense_18 (Dense)            (None, 1)                 151

=================================================================
Total params: 120,901
Trainable params: 120,901
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [28]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq= 'epoch',
    period=5)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5659 - accuracy: 0.7248
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7321
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7328
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7349
Epoch 5/100
775/804 [===========================>..] - ETA: 0s - loss: 0.5456 - accuracy: 0.7362
Epoch 5: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7360
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7362
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7375
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7371
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7376
Epoch 10/100
797/804 [============================>.] - ETA: 0s - loss: 0.5400 - accuracy: 0.7382
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7381
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7384
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7385
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7392
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7392
Epoch 15/100
789/804 [============================>.] - ETA: 0s - loss: 0.5379 - accuracy: 0.7390
Epoch 15: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7391
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7388
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7399
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7391
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 20/100
791/804 [============================>.] - ETA: 0s - loss: 0.5356 - accuracy: 0.7413
Epoch 20: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7411
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7408
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7409
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7406
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7409
Epoch 25/100
796/804 [============================>.] - ETA: 0s - loss: 0.5341 - accuracy: 0.7403
Epoch 25: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7404
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7406
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7410
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7419
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 30/100
796/804 [============================>.] - ETA: 0s - loss: 0.5323 - accuracy: 0.7415
Epoch 30: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7412
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7421
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7426
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7420
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7419
Epoch 35/100
774/804 [===========================>..] - ETA: 0s - loss: 0.5302 - accuracy: 0.7429
Epoch 35: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7424
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7431
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7422
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7427
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7417
Epoch 40/100
798/804 [============================>.] - ETA: 0s - loss: 0.5297 - accuracy: 0.7427
Epoch 40: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5301 - accuracy: 0.7423
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7435
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7413
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7438
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7422
Epoch 45/100
793/804 [============================>.] - ETA: 0s - loss: 0.5297 - accuracy: 0.7428
Epoch 45: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7424
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5290 - accuracy: 0.7430
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5279 - accuracy: 0.7440
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5290 - accuracy: 0.7433
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5291 - accuracy: 0.7436
Epoch 50/100
788/804 [============================>.] - ETA: 0s - loss: 0.5283 - accuracy: 0.7435
Epoch 50: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5285 - accuracy: 0.7432
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5288 - accuracy: 0.7421
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5275 - accuracy: 0.7423
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5306 - accuracy: 0.7427
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5276 - accuracy: 0.7430
Epoch 55/100
797/804 [============================>.] - ETA: 0s - loss: 0.5277 - accuracy: 0.7432
Epoch 55: saving model to checkpoints\weights.55.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5273 - accuracy: 0.7434
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5277 - accuracy: 0.7437
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5274 - accuracy: 0.7435
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7434
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7427
Epoch 60/100
796/804 [============================>.] - ETA: 0s - loss: 0.5292 - accuracy: 0.7430
Epoch 60: saving model to checkpoints\weights.60.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7435
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5276 - accuracy: 0.7432
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5273 - accuracy: 0.7440
Epoch 63/100

804/804 [==============================] - 1s 2ms/step - loss: 0.5277 - accuracy: 0.7440
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5279 - accuracy: 0.7433
Epoch 65/100
797/804 [============================>.] - ETA: 0s - loss: 0.5279 - accuracy: 0.7437
Epoch 65: saving model to checkpoints\weights.65.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5278 - accuracy: 0.7437
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5282 - accuracy: 0.7432
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5269 - accuracy: 0.7439
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5268 - accuracy: 0.7442
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7419
Epoch 70/100
802/804 [============================>.] - ETA: 0s - loss: 0.5284 - accuracy: 0.7418
Epoch 70: saving model to checkpoints\weights.70.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7415
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5270 - accuracy: 0.7435
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5266 - accuracy: 0.7442
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5265 - accuracy: 0.7441
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5262 - accuracy: 0.7441
Epoch 75/100
774/804 [===========================>..] - ETA: 0s - loss: 0.5263 - accuracy: 0.7433
Epoch 75: saving model to checkpoints\weights.75.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5261 - accuracy: 0.7433
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5270 - accuracy: 0.7441
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5267 - accuracy: 0.7445
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5282 - accuracy: 0.7441
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5277 - accuracy: 0.7436
Epoch 80/100
771/804 [===========================>..] - ETA: 0s - loss: 0.5270 - accuracy: 0.7429
Epoch 80: saving model to checkpoints\weights.80.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5259 - accuracy: 0.7441
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5261 - accuracy: 0.7439
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5264 - accuracy: 0.7442
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5275 - accuracy: 0.7438
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5262 - accuracy: 0.7436
Epoch 85/100
803/804 [============================>.] - ETA: 0s - loss: 0.5278 - accuracy: 0.7444
Epoch 85: saving model to checkpoints\weights.85.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5278 - accuracy: 0.7445
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5263 - accuracy: 0.7436
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5268 - accuracy: 0.7428
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5271 - accuracy: 0.7440
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5274 - accuracy: 0.7425
Epoch 90/100
774/804 [===========================>..] - ETA: 0s - loss: 0.5265 - accuracy: 0.7442
Epoch 90: saving model to checkpoints\weights.90.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5269 - accuracy: 0.7433
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5260 - accuracy: 0.7437
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5272 - accuracy: 0.7438
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5273 - accuracy: 0.7439
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5254 - accuracy: 0.7439
Epoch 95/100
781/804 [============================>.] - ETA: 0s - loss: 0.5264 - accuracy: 0.7430
Epoch 95: saving model to checkpoints\weights.95.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5261 - accuracy: 0.7436
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5253 - accuracy: 0.7441
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5254 - accuracy: 0.7441
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5258 - accuracy: 0.7436
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5274 - accuracy: 0.7434
Epoch 100/100
793/804 [============================>.] - ETA: 0s - loss: 0.5270 - accuracy: 0.7423
Epoch 100: saving model to checkpoints\weights.100.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5269 - accuracy: 0.7425
268/268 - 0s - loss: 0.6106 - accuracy: 0.7221 - 347ms/epoch - 1ms/step
Loss: 0.6105904579162598, Accuracy: 0.7220991253852844

In [29]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimaization.h5")